.mainPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.mainContent {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;

	.card {
		display: flex;
		justify-content: start;
		border: 1px solid rgba(255, 0, 0, 0.3);
		width: 500px;
		height: 400px;
		flex-direction: column;
		font-size: 25px;

		p {
			align-self: center;
			margin: 10px;
		}
	}
}
